body{
	margin:0px;
	padding:0px;
}


#loading{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #060606;
	/*z-index: 60;*/
}

#loading_img{
	margin-top: 30vh;
	position: fixed;
	margin-left: 35%;
	margin-right: 25%;
	width: 40%;
	height: 300px;
	z-index: 19;
	background: url('../images/loading.gif') no-repeat;
	background-size: 70%;
}

#page1_1{
	height:100vh;
	width:100%;
	overflow: visible;
	/*background: url('../images/page1_121.jpg') no-repeat;
	background-size: 100%;*/
	position: relative;
	overflow: hidden;
	top: 0px;
	/*display: none;*/
	max-height: 1400px;
	z-index: 2;

}

.myname{
	height: 30%;
	width: 35%;
	min-width: 150px;
	position: absolute;
	overflow: visible;
	min-height: 150px;
	/*background-color: red;*/
	top:22%;
	/*bottom: 25%;*/
	left:17%;
	display: none;
}
.page1_2{
	height: 30%;
	width: 35%;
	min-width: 150px;
	position: absolute;
	/*background-color: red;*/
	overflow: visible;
	min-height: 150px;
	/*background: url('../images/title.png') no-repeat;*/
	/*background-size: 100%;*/
	top:22%;
	/*bottom: 25%;*/
	left:17%;
	display: none;
	/*z-index: 2;*/
	/*right: 25%;*/

}

.interests{
	position: absolute;
	bottom: 8%;
	margin-left: 5%;
	float: left;
	display: none;
	width: auto;
	height: auto;
	/*background-color: red;*/
	border-left: 1px solid #fe7474;
}

.interests_inner{
margin-top: 5%;
margin-bottom: 5%;
margin-left: 5%;
width: auto;
height: auto;
/*background-color: blue;*/
}

.interests_text{
	font-family: 'Lato';
	font-weight: 100;
	font-size:  140%;
	margin-top:0;
	margin-bottom: 0px;
	color: #f7d5c7;
	/*background-color:red;*/
	text-align: left;
	z-index: 1;
	/*position: absolute;*/
}
.down{
	height:100px;
	width: 100px;
	min-width: 30px;
	position: absolute;
	background: url('../images/page1_5.png') no-repeat;
	z-index: 5;
	opacity: 1;
	display: none;
	background-size: 100%;
	right:60px;
	top: 90vh;
	 -webkit-animation:bounce 3s infinite;
	 animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-20px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }

@import url(https://fonts.googleapis.com/css?family=Lato:400,100);
#first_name{
	font-family: 'Lato';
	font-weight: 100;
	font-size:  490%;
	margin-top:0;
	color: #04e2b6;
	/*background-color:red;*/
	text-align: left;
	z-index: 1;
	/*position: absolute;*/
}

/*#last_name{
	font-family: 'Lato';
	font-weight: 100;
	font-size:  70px;
	background-color: blue;
	margin-top:0;
	color: #f1d0aa;
	text-align: left;
	z-index: 1;
	/*position: absolute;*/
}
*/
a:link{
	text-decoration: none;
}

.button1_page1:hover{
	/*background-color: #aa171d;*/
	background-color: white;
	opacity: 0.8;
	cursor: pointer;
}

.button1_page1:hover p{
	/*background-color: #aa171d;*/
	color: black;
	/*opacity: 0.8;*/
	cursor: pointer;
	font-weight: 400;
}

.down:hover{
	background: url('../images/Page 2/up.png') no-repeat;
	background-size: 100%;
	cursor: pointer;
}





