body{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

a{
	text-decoration: none;
}

#up{
	top: 85vh;
	position: fixed;	
	width:100px; 
	display: inline-block;
	height: 100px;
	min-width: 70px;
	float: right;
	overflow: visible;
	background: url('../images/Page 2/page2_35.png') no-repeat;
	opacity: 0.4;
	right: 60px;
	z-index: 100;
	display: none;
}

#up:hover{
	opacity: 1;
}

#dropdown{
	position: fixed;	
	width:12vw; 
	display: inline-block;
	height: 300px;
	min-width: 70px;
	overflow: visible;
	left: 3%;
	bottom: 40%;
	z-index: 100;
	display: none;
	/*background-color: blue;*/
}

/*.menu_icon{
	position: relative;
	width: 65px;
	height: 50px;
	background: url('../images/Page 2/page2_16.png') no-repeat 100%;
	background-size: 100;
	box-shadow: 2px 2px 3px #949393;
	background-color: #075d58;
}

.menu_icon:hover{
	cursor: crosshair;
	background-color: #053e3b;
}

.menu_items{
	position: relative;
	display: none;
	width: auto;
	height: auto;
}
*/

.about_me, .my_work, .contact_me, .myskills, .home{
	position: relative;
	float: left;
	width: 70%;
	height: auto;
	background-color: #ffffff;
	border: solid 1px #042f23;
	/*background-color: red;*/
	margin-top: 1px;
	/*box-shadow: 2px 2px 3px #949393;*/
}

.about_me:hover, .my_work:hover, .contact_me:hover, .myskills:hover, .home:hover{
	background-color: #b9ffec;
	cursor: pointer;
}
.menu_text{
	font-size: 1.4vw;
	font-family: 'Roboto' Sans;
	font-weight: 100;
	color: black;
	text-align: center;
}




													/*SECOND PAGE_ABOUT ME DATA*/
#page2_div1{

	width: 100%;
	height:auto;
	/*top: 0px;*/
	min-width: 900px;
	overflow: hidden;
	/*background-color: yellow;*/
	/*opacity: 0.5;*/
}

#aboutme_main_div{
	width: 74%;
	position: relative;
	margin-top: 0px;
	top: 20px;
	margin-left: 13%;
	min-width:700px;
	overflow: hidden;
	height: auto;
	/*background-color: grey;*/
}

#page2_heading{	
position: relative;																		
	width: 90%;
	height: auto;
	margin-top: 0px;
	margin-bottom: 50px;
	position: relative;
	margin-left: 5%;
	top: 0px;
	z-index: 1;
	border-bottom: 1px dotted #000000;
}
.aboutme_main_div_textbox{
	width: 90%;
	margin-top: 60px;
	height:auto;
	position: relative;
	overflow: visible;
	margin-left: 5%;
}

#aboutme_main_div_textbox1{
	width: 90%;
	margin-top: 20px;
	overflow: visible;
	height:280px;
	position: relative;
	overflow: hidden;
	margin-left: 5%;
}

.aboutme_main_div_textbox_heading{
	position: relative;
	width: auto;
	height: auto;
	margin: 0 auto;
	overflow: visible;
}

.aboutme_main_div_textbox_heading_text{
	font-family: 'Roboto' sans-serif;
	font-size: 3.2vw;
	font-weight: 400;
	color: #299f87;
	text-align: center;
	margin-bottom: 15px;
}

.aboutme_main_div_textbox_heading_text_type1{
	font-family: 'Roboto' sans-serif;
	font-size: 1.7vw;
	font-weight: 400;
	color: #696504;
	text-align: center;
}



.aboutme_main_div_textbox_content{
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
	overflow: visible;
	height: auto;
	margin-top: 12px;
}

.aboutme_main_div_textbox_content_text{
	font-family: 'Arimo' sans-serif;
	font-weight: 100;
	text-align: center;
	color: #635f5f;
	line-height: 27px;
	font-size: 1.25vw;
}

#bobmarley_quote{
	font-family: 'PT Sans' sans-serif;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	color: #9f0000;
	line-height: 36px;
	font-size: 1.6vw;
}

#divmain_image{
	width: 100%;
	height: 700px;
	width: 62%;
	margin-left: 19%;
	margin-top: 40px;
}



#gallery{
	width:100%;
	height: auto;
	position: relative;
	top:00px;	
}


@import url(http://fonts.googleapis.com/css?family=Varela+Round);


.slides {
    padding: 0;
    width: 630px;
    height: 490px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 630px;
    height: 450px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 100px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer; cursor: hand;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer; cursor: hand;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7  {
	background: rgba(0, 0, 0, 0.8);
}

#work1{
	position: relative;
	height: auto;
	/*background-color: blue;*/
	/*border: solid 5px violet;*/
	/*margin-top: 120px;*/
	position: relative;
	width: 100%;
	min-width: 900px;
	height: auto;
}

.page2_div2_divmain1{
	width: 70%;
	position: relative;
	height: auto;
	margin-left: 15%;
	margin-top:40px;
	overflow: visible;
	/*background-color: black;*/
	z-index: 15;
	display: none;
}


.morework1{
	/*display: block;*/
	height: auto;
	width: auto;
	text-align: center;
	float: right;
	margin-top: 20px;
	border: solid 1px #1c2c28;
	box-shadow: 1px 1px 1px #969494;
	border-radius: 5px;
	background-color: white; 
	margin-right: 1vw;
	/*display: none;*/
}

.morework{
	/*display: block;*/
	height: auto;
	width: auto;
	text-align: center;
	float: right;
	margin-right: 33%;
	margin-top: 20px;
	border: solid 1px #1c2c28;
	box-shadow: 1px 1px 1px #969494;
	border-radius: 5px;
	background-color: white; 
	/*display: none;*/
}

.morework1 p{
	margin-right: 0.8vw;
	margin-top: 0.8vw;
	margin-bottom: 0.8vw;
	margin-left: 0.8vw;
	font-size: 1.6vw;
	font-family: 'Roboto' Sans;
	font-weight: 100;
	color: #525251;;
	
}
.morework:hover{
	background-color: #3f5d55;
	cursor: pointer;
}
.text_morework{
	top: 1%;
	/*margin-bottom: 1%;*/
	height: auto;
	/*width: 80%;*/
	margin-left: 10%;
	margin-right: 10%;
	/*background-color: blue;*/
	text-align: center;

}
.morework p{
	margin-right: 0.8vw;
	margin-top: 0.8vw;
	margin-bottom: 0.8vw;
	margin-left: 0.8vw;
	font-size: 1.6vw;
	font-family: 'Roboto' Sans;
	font-weight: 100;
	color: #525251;;
	
}

#page2_div2{																				/*Divison testing for work*/
	position: relative;
	width: 100%;
	min-width: 900px;
	height: auto;
	/*min-height: 900px;*/
	width: 100%;
	/*top: 60px;*/
	/*background-color: green;*/
	/*opacity: 0.5;*/
	/*border-top: solid 5px grey;*/
	/*border: solid 10px red;*/
}


#page2_div2_heading{	
	position: relative;																		
	width: 66.66%;
	height: auto;
	/*margin-top: 200px;*/
	margin-left: 16.9%;
	top: 80px;
	z-index: 1;
	border-bottom: 1px dotted #000000;
	/*background-color: pink;*/
}

.page2_div2_heading_text{
	font-size: 'Roboto' sans-serif;
	font-size: 3.2vw;
	font-weight: 400;
	color: #299f87;
	text-align: center;
	margin-bottom: 15px;
}

#page2_div2_divmain{
	width: 70%;
	position: relative;
	height: auto;
	margin-left: 15%;
	margin-top:90px;
	overflow: visible;
	/*background-color: green;*/
	z-index: 15;
}

#page2_div2_box1, #page2_div2_box2, #page2_div2_box3, #page2_div2_box4, #page2_div2_box5{
	margin-top: 10px;
	margin-left: 0px;
	width: 100%;
	height: auto;
	position: relative;
	/*float: right;*/
	display: inline-block;
	border-bottom: 1px solid #e2e1dc;
	/*background-color: red;*/
}

.page2_div2_work1, .page2_div2_work3, .page2_div2_work5{
	position: relative;
	width: 23vw;
	height: 13vw;
	border: 1px solid #969494;
	margin-left: 10px;
	opacity: 1;
	float: left;
	margin-top: 15px;
	box-shadow: 3px 3px 3px #969494;
	margin-bottom: 25px;
	min-width: 110px;
	min-height: 60px;
}

.maximize_1, .maximize_3, .maximize_5{
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	width: 3vw;
	height: 3vw;
	/*background-color: blue;*/
	opacity: 0.9;
}
.maximize1_1, .maximize1_2{
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 1;
	width: 3vw;
	height: 3vw;
	/*background-color: blue;*/
	opacity: 0.9;
}

.page2_div2_work2, .page2_div2_work4{
	position: relative;
	width: 23vw;
	height: 13vw;
	border: 1px solid #969494;
	margin-left: 10px;
	opacity: 1;
min-width: 100px;
	min-height: 40px;
	float: right;
	margin-top: 15px;
	margin-bottom: 25px;
	box-shadow: 3px 3px 3px #969494;
}

.page2_div2_work1_hover, .page2_div2_work2_hover, .page2_div2_work3_hover, .page2_div2_work4_hover, .page2_div2_work5_hover{
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #0a887b;
	opacity: 0.85;
	cursor: pointer;
}
.page2_div2_work1_hover_heading, .page2_div2_work2_hover_heading, .page2_div2_work3_hover_heading, .page2_div2_work4_hover_heading, .page2_div2_work5_hover_heading{
	display: none;
	position: relative;
	top: 0px;
	width: auto;
	height: auto;
}

.page2_div2_work1_hover_heading_text, .page2_div2_work2_hover_heading_text, .page2_div2_work3_hover_heading_text{
	color: white;
	font-family: 'Roboto' sans-serif;
	font-size: 1.2vw;
	text-align: center;
}

.page2_div2_work5_hover_heading_text, .page2_div2_work4_hover_heading_text{
	color: white;
	font-family: 'Roboto' sans-serif;
	font-size: 1.2vw;
	text-align: center;
}
.page2_div2_work1_hover_button, .page2_div2_work2_hover_button, .page2_div2_work3_hover_button, .page2_div2_work4_hover_button, .page2_div2_work5_hover_button{
	position: absolute;
	width: 50%;
	height: 20%;
	display: block;
	border-radius: 5px;
	background-color: white; 
	margin-left: 25%;
	float: left;
	bottom:6% ;
	display: none;
}

.page2_div2_work1_hover_button_text, .page2_div2_work2_hover_button_text, .page2_div2_work3_hover_button_text, .page2_div2_work4_hover_button_text, .page2_div2_work5_hover_button_text{
	color: #525251;
	font-family: 'Roboto' sans-serif;
	font-size: 1.2vw;
	text-align: center;
	margin-top: 5%;
}


.page2_div2_work1_detail1_content, .page2_div2_work2_detail1_content, .page2_div2_work3_detail1_content, .page2_div2_work4_detail1_content, .page2_div2_work5_detail1_content{
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	float: left;
}


.page2_div2_work1_heading, .page2_div2_work3_heading, .page2_div2_work5_heading{
	position: relative;
	width: auto;
	height: auto;
	margin-top: 95px;
	display: block;
	float: left;
	margin-left: 10%;
	overflow: hidden;
}

.page2_div2_work2_heading, .page2_div2_work4_heading{
	position: relative;
	width: auto;
	height: auto;
	margin-top: 95px;
	display: block;
	float: right;
	margin-right: 10%;
}

.page2_div2_work1_detail1, .page2_div2_work3_detail1, .page2_div2_work5_detail1{
	position: relative;
	width: 60%;
	height: auto;
	margin-top: 15px;
	float: left;
	margin-left: 2.5%;
}

.page2_div2_work2_detail1, .page2_div2_work4_detail1{
	position: relative;
	width: 60%;
	height: auto;
	margin-top: 15px;
	display: block;
	float: left;
	margin-left: 1%
}

.page2_div2_work1_detail1_text, .page2_div2_work2_detail1_text, .page2_div2_work3_detail1_text, .page2_div2_work4_detail1_text, .page2_div2_work5_detail1_text{
	font-family: 'Arimo' sans-serif;
	font-weight: 100;
	text-align: left;
	color: #383434;
	line-height: 1.9vw;
	font-size: 1.2vw;
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 95%;
}


.page2_div2_work_text1{
	font-family: 'Roboto' sans-serif;
	font-size: 1.9vw;
	font-weight: 400;
	color: #585a4d;
	/*text-align: center;*/
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.page2_div2_work_text2{
	font-family: 'Roboto' sans-serif;
	font-size: 1.9vw;
	font-weight: 400;
	color: #585a4d;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0;
}






																											/*SKILLS*/
#skills{
	/*width:100%;*/
    height:auto;
    display: block;
    text-align:center;
    /*position: relative;*/
    	padding: 25px;	
   
}

#skills_maincontent{
	position: relative;

	display: block;
	text-align: center;																	
	width: 70%;
	/*height: auto;*/
	margin-left: 15%;
	margin-top: -30px;
	
}

.skills_heading{
	/*position: relative;																		*/
	width: 100%;
	margin-top: 0px;
	height: auto;
	border-bottom: 1px dotted #000000;
	/*background-color: red;*/
}
.skills_heading_div{
	position: relative;
	width: 30%;
	height: auto;
	top: 0px;
	/*margin-bottom: 0px;*/
	margin-left: 35%;
	/*background-color: blue;*/
}

.skills_languages_div{
	position: relative;
	/*display: block;*/
	/*float: left;*/
	width: 80%;
	height: auto;
	margin-top: 60px;
	margin-bottom: 0px;
	margin-left: 10%;
	/*background-color: blue; */
}

.skills_languages_div_heading{
	position: relative;																		
	width: auto;
	height: auto;
	top: 0px;
	margin-left: 0.5%;
}

.skills_div_heading_text{
	font-family: 'Roboto' sans-serif;
	font-size: 1.8vw;
	font-weight: 400;
	color: #098362;
	text-align: left;
	margin-top: 0;
}

.skills_languages_div1{
	position: relative;
	width: 40%;
	/*display: block;*/
	display: inline-block;
	/*float: left;*/
	height: auto;
	margin-left: 4%;
	/*margin-right: 2%;*/
	/*margin-top: 0px;*/
	overflow: visible;
	/*background-color: green;*/
}

.skills_text{
	font-family: 'Arimo' sans-serif;
	font-weight: 100;
	text-align: left;
	color: #635f5f;
	margin-top: 4px;	
	font-size: 1.3vw;
}

.skills_text1{
	font-family: 'Arimo' sans-serif;
	font-weight: 100;
	text-align: center;
	color: #635f5f;
	margin-top: 4px;	
	font-size: 1.2vw;
}

.skills_languages_div2{
	position: relative;
	width: 40%;
	height: auto;
	/*margin-left: 0px;*/
	display: inline-block;
	/*float: left;*/
	/*margin-top: 0px;*/
	margin-left: 10%;
	/*margin-right: 0px;*/
	/*background-color: green;*/
}

.skills_tools_div{
	position: relative;
	/*display: block;*/
	/*float: left;*/
	width: 80%;
	margin-top: 40px;
	height: auto;
	margin-bottom: 0px;
	margin-left: 10%;
	/*background-color: blue;*/
}

.skills_tools_div_heading{
	position: relative;																		
	width: auto;
	height: auto;
	top: 0;
	margin-left: 0.5%;
}

.skills_tools_div1{
position: relative;
	width: 40%;
	display: inline-block;
	/*float: left;*/
	height: 80%;
	margin-left: 4%;
	margin-right: 2%;
	margin-top: 0px;
}

.skills_tools_div2{
	position: relative;
	width: 40%;
	height: 80%;
	margin-left: 0px;
	display: inline-block;
	/*float: left;*/
	margin-top: 0px;
	margin-left: 10%;
}

.sld1_t1,.sld1_t2,.sld1_t3,.sld1_t4,.sld1_t5,.sld1_t6,.sld1_t6,.sld1_t7, .sld2_t1,.sld2_t2, .sld2_t3, .sld2_t4, .sld2_t5{
	position: relative;
	width: 100%;
	height:30px;
	display: inline-block;
	margin-top: 2px;
	overflow: visible;
}

.sld1_t1:hover, .sld1_t2:hover, .sld1_t3:hover, .sld1_t4:hover, .sld1_t5:hover, .sld2_t1:hover, .sld2_t2:hover, .sld2_t3:hover, .sld2_t4:hover,
.std1_t1:hover, .std1_t2:hover, .std1_t3:hover, .std1_t4:hover, .std1_t5:hover, .std2_t1:hover, .std2_t2:hover, .std2_t3:hover, .std2_t4:hover, .std2_t5:hover{
	background-color: #ececec;
	cursor: pointer;
}

.std1_t1,.std1_t2,.std1_t3,.std1_t4,.std1_t5,.std1_t6,.std1_t6,.std1_t7, .std2_t1,.std2_t2, .std2_t3, .std2_t4, .std2_t5{
	position: relative;
	width: 100%;
	height:30px;
	display: inline-block;
	float: left;
	margin-left: 0px;
	margin-top: 4px;
	overflow: visible;
}


.sld1t1_text, .sld1t2_text, .sld1t3_text, .sld1t4_text, .sld1t5_text{
	position: relative;
	width: 45%;
	display: inline-block;
	height: auto;
	max-height: 30px;
	margin-left: 3%;
	float: left;
	text-align: left;
}

.std1t1_text, .std1t2_text, .std1t3_text, .std1t4_text, .std1t5_text{
	position: relative;
	width: 45%;
	display: inline-block;
	height: auto;
	float: left;
	margin-left: 3%;
	text-align: left;
}

.sld1t1_rating, .sld1t2_rating, .sld1t3_rating, .sld1t4_rating, .sld1t5_rating{
	position: absolute;
	width: 45%;
	height:30px;
	display: inline-block;
	float: right;
	margin-top: 0px;
	right: 0px;
	overflow: visible;
}

.sld1t1_text1, .sld1t2_text1, .sld1t3_text1, .sld1t4_text1 ,.sld1t5_text1, .sld2t1_text1, .sld2t2_text1, .sld2t3_text1, .sld2t4_text1 ,.sld2t5_text1,
.std1t1_text1, .std1t2_text1, .std1t3_text1, .std1t4_text1 ,.std1t5_text1, .std2t1_text1, .std2t2_text1, .std2t3_text1, .std2t4_text1 ,.std2t5_text1{
	position: relative;
	width: 45%;
	display: none;
	height: auto;
	max-height: 30px;
	margin-left: 3%;
	float: right;
	text-align: left;
}

.sld2t1_text, .sld2t2_text, .sld2t3_text, .sld2t4_text, .sld2t5_text{
	position: relative;
	width: 45%;
	display: inline-block;
	margin-left: 3%;
	height: auto;
	max-height: 30px;
	float: left;
}

.sld2t1_rating, .sld2t2_rating, .sld2t3_rating, .sld2t4_rating, .sld2t5_rating{
	position: absolute;
	width: 45%;
	height:30px;
	display: inline-block;
	float: right;
	margin-top: 0px;
	right: 0px;
	overflow: visible;
}

.std1t1_text, .std1t2_text, .std1t3_text, .std1t4_text, .std1t5_text{
	position: relative;
	width: 45%;
	display: inline-block;
	height: auto;
	margin-left: 3%;
	max-height: 30px;
	float: left;
}

.std1t1_rating, .std1t2_rating, .std1t3_rating, .std1t4_rating, .std1t5_rating{
	position: absolute;
	right: 0px;
	width: 45%;
	height:30px;
	display: inline-block;
	float: right;
	margin-top: 2px;
}

.std2t1_text, .std2t2_text, .std2t3_text, .std2t4_text, .std2t5_text{
	position: relative;
	width: 45%;
	display: inline-block;
	height: auto;
	margin-left: 3%;
	max-height: 30px;
	float: left;
	/*background-color: blue;*/
}

.std2t1_rating, .std2t2_rating, .std2t3_rating, .std2t4_rating, .std2t5_rating{
	position: absolute;
	right: 0px;
	width: 45%;
	display: inline-block;
	height: 30px;
	float: right;
	margin-top: 0px;
}



#page2_div3{
	position: relative;
    width:100%;
    height:90vh;
    display: inline-block;
  	margin-top: 200px;
}

a{
	text-decoration: none;
}

.page2_div3_maincontent{
	position: relative;																		
	width: 70%;
	height: 80vh;
	margin-left: 15%;
	/*margin-top: 0px;*/
	display: block;
	/*background-color: blue;*/
	z-index: 10;
}

.page2_div3_heading{
	position: relative;																		
	width: 100%;
	/*top: 3vh;*/
	height: auto;
	position: relative;
	border-bottom: 1px dotted #000000;
	/*background-color: red;*/
}

.page2_div3_heading_div{
	position: relative;
	width: 30%;
	height: auto;
	margin-bottom: 0px;
	margin-left: 35%;
}

.page2_div3_details{
	position: relative;
	width: 50%;
	margin-left: 25%;
	height: 60vh;
	margin-top: 8vh;
	/*display: block;*/
	/*background-color: green;*/
}

.page2_div3_mail{
	position: relative;
	text-align:center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	top:0vh;
}

.page2_div3_phone{
	position: relative;
	text-align:center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	margin-top:5vh;
}

.page2_div3_social{
	position: relative;
	text-align:center;
	width: 25vw;
	margin-left: 5vw;
	margin-right: 5vw;
	height: 80px;
	margin-top:4vh; 
	/*background-color: blue;*/
}

.page2_div3_mail_image{
	width:40px;
	height:32px;
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
	background: url('../images/email copy.png') no-repeat;
	background-size: 100%;
}

.page2_div3_phone_image{
	width:40px;
	height:40px;
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
	background: url('../images/Page 2/page2_34.jpg') no-repeat;
	background-size: 90%;
}

.mail{
    margin:0px auto;
    color:#206524;
    margin-top:8px;
    font-family: 'Arimo' sans-serif;
	font-weight: 100;
	color: #383434;
	line-height: 27px;
	font-size: 1.2vw;

}
.social_media{
    margin-right:10px;
    position:relative;
    width:80px;
    height:80px;
    display: block;
}


#testclass:hover{
	cursor: pointer; cursor: hand;
}

.facebook {
    background: url('../images/Page 2/fb1.png');
    width:5vw;
    height:5vw;
    display: block;
    float: left;
    margin-left: 4vw;
    margin-right:10px; 
    background-size: 100%;
    background-color: #3b5998;
    box-shadow: 2px 2px 2px #969494;
}

.facebook:hover{
	cursor: pointer; cursor: hand;
	background-color: #2d3f6d;
	background-size: 100%;
}

.gplus {
    background: url('../images/Page 2/gplus1.png');
    width:5vw;
    height:5vw;
    display: block;
    float: left;background-size: 100%;
    margin-right:10px; 
    box-shadow: 2px 2px 2px #969494;
    background-color: #dc4a38;
}

.gplus:hover{
	cursor: pointer; cursor: hand;
	background-color: #7a271f;
}

.linkedin {
    background: url('../images/Page 2/linked2.png');
   /* width:80px;
    height:80px;*/
    width:5vw;
    height:5vw;
    display: block;
    float: left;
    background-size: 100%;
    box-shadow: 2px 2px 2px #969494;
    background-color: #007bb6;
}

.linkedin:hover{
	cursor: pointer; cursor: hand;
	background-color: #035f8e;
	background-size: 100%;
}
.footer{
	position: relative;
    background-color:#f2f2f2;
    display: inline-block;
    /*margin-bottom: 0vh;*/
    /*bottom:0px;*/
    width:100%;
    height:auto;
    /*margin-top: 18vh;*/
    -webkit-box-shadow: 0px -4px 7px #b2b2b2b;
    -moz-box-shadow: 0px -4px 7px #b2b2b2;
    box-shadow: 0px -4px 7px #b2b2b2;
}
.footer_text{
	position: relative;
    width:50%;
    margin:0px auto;
    text-align:center;
    /*margin-top:0px;*/
    opacity: 0.8;
    /*margin-bottom: 0px;*/
}
.copyright{
    font-size:16px;
    font-family:'Roboto';
    font-weight:100;
    color:black;
    padding-top:6px;
    opacity:0.9;
}
.built_by{
    font-family:'Gabriola';
    font-size:18px;
    line-height:0; 
    opacity:0.9;   
    color: black;
}


















